*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    background-color: rgb(172, 15, 172);
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#logoicon{
    width: 40px;
    height: 40px;
}
#logotext{
    font-size: 1.3rem;
    font-family: 'Cutive', serif;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: white;
}
.icons .material-symbols-outlined{
    font-size: 1.5rem;
}
#searchholder{
    width: 100%;
    max-width: 540px;
}
#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    display: none;
}
#searchbox span{
    font-size: 1.2rem;
}
.searchinput{
    padding: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
}
.product{
    padding: 1rem;
    border: 1px solid grey;
}
.product img{
    width: 100%;
}
.product h3{
    font-size: 1.3rem;
}
.product .rating{
    color: orange;
    font-size: 1rem;
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product .price{
    font-size: 1rem;
}
.productslist{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.product button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}
@media only screen and (min-width: 768px) {
    .productslist{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media only screen and (min-width: 960px) {
    #menubutton{
        display: none;
    }
    #searchbox{
        display: flex;
    }
    .productslist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
 